
.nav-link{color:var(--blanco);}
.logo{
    width: 100px;
}
/* .navegador {
    background-color: var(--fondoNav) !important;
    position: sticky !important;
   
  } */
 .navbar{ 
    background-color: var(--fondoNav) !important;
    position: fixed !important;
    width: 100%;
    top: 0;
    padding: 0.2rem;
    z-index: 999;
 }

  .nav-link:hover{
    color: var(--blanco) !important;
    text-decoration: underline var(--blanco) !important;
  }
  .nav-link:focus{
    color: var(--blanco) !important;
    text-decoration: underline var(--blanco) !important;
  }

  .boton{
    background-color: var(--rojo) !important;
    border: 0px
  }
  .boton:hover{
    background-color: var(--hoverRojo) !important;
    border: 0px
  }